<service name="git_tarballs">
  <summary>Download tarballs and update package data</summary>
  <description>This service downloads tarballs and updates the spec file version and changes file</description>
  <parameter name="url">
    <description>URL of the tarball to download. It should contain a ChangeLog file in git log format.</description>
    <required/>
  </parameter>
  <parameter name="package">
    <description>OBS package name.</description>
  </parameter>
  <parameter name="filename">
    <description>Name of the filename where the tarball will be downloaded.</description>
  </parameter>
  <parameter name="email">
    <description>User's email that will be used to sign the rpm's .changes file</description>
    <required/>
  </parameter>
  <parameter name="version-regexp">
    <description>Regular expression for extracting version from top-level directory in tarball (default: ".*-([^-]+)")</description>
  </parameter>
  <parameter name="plain-version">
    <description>Use plain upstream version string instead of generating one including "+git.$TIMESTAMP.$COMMITHASH" in the spec and changes files. The upstream version string will be extracted from the top level directory's name in the downloaded tarball.</description>
  </parameter>
</service>
